#pragma once

#include "spi_packet.h"
#include "spi_query.h"
#include "spi_status.h"
#include <stdint.h>

{% for payload in payload_order %}
{% for q in queries[payload] %}
{% if q.command != "NOTUSED" %}
// ({{ payload }}) {{ q.command }} (query 0x{{ "%02X" % q.query_code }}){% if q.notes %} — {{ q.notes }}
{% endif %}
spi_response_code_t spi_{{ payload.lower() }}_query_{{ q.command.lower() }}(
    {% if q.tx_size != 0 %}
    const uint8_t *tx_data, 
    uint16_t tx_len, 
    {% endif %}
    spi_packet_t *response);

{% endif %}
{% endfor %}
{% endfor %}
