#include "spi_queries_raw.h"
#include "spi_transaction.h"

{% for payload in payload_order %}
{% for q in queries[payload] %}
{% if q.command != "NOT_USED" %}
spi_response_code_t spi_{{ payload.lower() }}_query_{{ q.command.lower() }}(
    {% if q.tx_size != 0 %}
    const uint8_t *tx_data, 
    uint16_t tx_len, 
    {% endif %}
    spi_packet_t *response) {
    // TODO: get data from user as a struct not raw bufer
    // TODO: serialise the data they gave into a buffer

    spi_response_code_t status = spi_transact(
        SPI_PAYLOAD_{{ payload }}, 
        SPI_{{ payload }}_QUERY_{{ q.command }}, 
        {% if q.tx_size != 0 %}
        tx_data, 
        tx_len, 
        {% else %}
        NULL,
        0,
        {% endif %}
        response, 
        {{ "true" if q.expects_response else "false" }}
    );
    if (status != SPI_RESP_OK) {
        return status;
    }
    
    // TODO: check data if its correct size or anything like that
    // TODO: parse data into an appropriate struct
    
    return status;
}

{% endif %}
{% endfor %}
{% endfor %}
