{% if q.notes %}
// notes: {{ q.notes }}
{% endif %}
{% if not implemented %}
#warning "implement {{ q.command }} (query 0x{{ "%02X" % q.query_code }})"
{% endif %}
bool {{ q.deserialize_fn }}({{ q.outputs_type }} *outputs, const uint8_t *buffer, uint16_t buffer_len) {
    /* USER CODE BEGIN {{ q.deserialize_fn }} */
{{ user_code }}
    /* USER CODE END {{ q.deserialize_fn }} */
}
