#pragma once
#include "spi_query.h"
#include "spi_transaction.h"

#define SPI_TIMEOUT_MS 1000

{% for payload in queries %}
{% for q in queries[payload] %}
{% if q.query_code != 0 %}
static inline spi_status_t spi_{{payload.lower()}}_query_{{ q.command.lower() }}(
    const spi_cs_config_t *cs
    {% if q.tx_size != 0 %}
    ,uint8_t *tx_data
    {% endif %}
    {% if q.rx_size != 0 %}
    ,uint8_t *rx_data,
    uint16_t *rx_length
    {% endif %}
)
{
    return spi_transaction(
        cs,
        SPI_{{payload}}_QUERY_{{ q.command }},
        {% if q.tx_size != 0 %}
        tx_data,
        {% else %}
        NULL,
        {% endif %}
        {{ q.tx_size }},
        {% if q.rx_size != 0 %}
        rx_data,
        {{ q.rx_size }},
        rx_length,
        {% else %}
        NULL,
        {{ q.rx_size }},
        0
        {% endif %}
        SPI_TIMEOUT_MS);
}
{% endif %}
{% endfor %}
{% endfor %}