#pragma once

#define SPI_QUERY_LIST \
{% for q in queries %}
    X(QUERY_{{ q }}) \
{% endfor %}

#define X(name) name,
typedef enum { SPI_QUERY_LIST } spi_query_code_t;
#undef X

static inline const char *spi_query_to_string(spi_query_code_t query) {
    switch (query) {
#define X(name)                                                                                                        \
    case name:                                                                                                         \
        return #name;
        SPI_QUERY_LIST
#undef X
    default:
        return "invalid query type";
    }
}